{% extends './base.html'%}

{% block content %}
  {% if not form.instance.id %}
  <h1>Crear Tarea</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <label for="id_usuario_destinatario">Usuario destinatario:</label>
    <select name="usuario_destinatario" id="id_usuario_destinatario">
      {% for usuario in usuarios %}
          <option value="{{ usuario.id }}">{{ usuario.username }}</option>
      {% endfor %}
    </select>
    <button type="submit">Crear Tarea</button>
  </form>
  {% else %}
  <h1>Actualizar Tarea</h1>
  <form method='post'>
    {% csrf_token %}
    {{form.as_p}}
    <label for="id_usuario_destinatario">Usuario destinatario:</label>
    <select name="usuario_destinatario" id="id_usuario_destinatario">
      {% for usuario in usuarios %}
          <option value="{{ usuario.id }}">{{ usuario.username }}</option>
      {% endfor %}
    </select>s
    <button type="submit">Actualizar Tarea</button>
  </form>
  {% endif %}
{% endblock %}